@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');
*{
    margin: 0;
}
#container {
    display: flex;
    /* background-repeat: no-repeat; */
}

.left {
    background-color: #ECF2F7;
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup__img {
    text-align: center;
    margin-bottom: 60px;
}

.left img {
    width: 400px;
    height: 395px;
    background-repeat: no-repeat;
}

.left h2 {
    text-align: center;
    font-family: 'Lato';
    font-size: 36px;
    font-weight: bold;
    margin: 0;
}

.left .bank__message {
    text-align: center;
    font-family: 'Lato';
    font-weight: regular;
    font-size: 18px;
    color: #455360;
}

.right{
    width: 50%;
}

.right img{
    width: 157px;
    height: 90px;
    margin-left: 500px;
}

.form{
    width: 497px;
    height: auto;
    margin-left: 120px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.form h1{
    font-family: 'lato';
    font-weight: bold;
    font-size: 36px;
    width: 123px;
    height: 44px;
}

.form .para1{
    width: 221px;
    height: 24px;
    font-family: 'lato';
    margin-top: 15px;
    margin-bottom: 10px;
    color: #455360;
}

.form .user__name__section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* column-gap: 50px; */
}

.user__name__section p{
    font-family: 'lato';
    font-size: 12px;
    color: #292731;
    margin-bottom: 10px;
}

.user__name__section .inputname{
    width: 150px;
    height: 28px;
    border: 0;
    border-radius: 4px;
    background-color: #F0F0F0;
    margin-bottom: 10px;
}

.form .phone{
    font-family: 'lato';
    font-size: 12px;
    color: #292731;
    margin-bottom: 10px;
}

.form .inputdata__phone{
    width: 400px;
    height: 28px;
    border: 0;
    border-radius: 4px;
    background-color: #F0F0F0;
    margin-bottom: 10px;
}

.form .email{
    font-family: 'lato';
    font-size: 12px;
    color: #292731;
    margin-bottom: 10px;
}

.form .inputdata__email{
    width: 400px;
    height: 28px;
    border: 0;
    border-radius: 4px;
    background-color: #F0F0F0;
    margin-bottom: 10px;
}

.form .password{
    font-family: 'lato';
    font-size: 12px;
    color: #292731;
    margin-bottom: 10px;
}

.form .inputdata__password{
    width: 400px;
    height: 28px;
    border: 0;
    border-radius: 4px;
    background-color: #F0F0F0;
    margin-bottom: 10px;
}

.form .buttonSignup{
    width: 400px;
    height: 28px;
    border: 0;
    border-radius: 4px;
    background-color: #00AEEF;
    font-family: 'lato';
    font-size: medium;
    margin-top: 10px;
}

.form .buttonLogin{
    width: 400px;
    height: 28px;
    border: 0;
    border-radius: 4px;
    background-color: #00AEEF; 
    font-family: 'lato';
    font-size: medium;
    margin-top: 10px;
}

.bottom{
    /* text-align: inherit; */
    color: #292731;
    margin-top: 55px;
    margin-left: 150px;
}